@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в менеджер проектов!</h1>
    <p>Исходный код можно найти на <a href="https://github.com/ArtemVeretehin?tab=repositories">моем GitHub</a>.</p>
</div>
